@model Security.Sample.MVC.Models.LocalPasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = null;
}


@using (Html.BeginForm("Manage", "Account"))
{
    <h2 class="heading-hr"><i class="icon-lock"></i>Change password</h2>
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <label>Old Password :</label>

                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                <label>New Password:</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                <label>Confirm Password:</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

        </div> <div class="text-right">
            <input type="submit" value="Change password" class="btn btn-primary" id="SubmitMe" />
        </div>
    </div>
}
