@model Security.Sample.MVC.Models.UserModels
@{
    HtmlHelper.ClientValidationEnabled = true;
    }
<div class="block">
      
@using (Html.BeginForm())
{
   
 <h2 class="heading-hr"><i class="icon-lock"></i>User Registration</h2>
     @Html.ValidationSummary(true)
    <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>First Name :</label>

                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control"})
                   
                    @Html.ValidationMessageFor(m => m.User.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Last Name:</label>
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control"})
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Email :</label>

                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control"})
                   
                    @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Phone:</label>
                    @Html.TextBoxFor(m => m.User.Phone, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.User.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Username:</label>

                    @Html.TextBoxFor(m => m.User.Login, new { @class = "form-control"})
                   
                    @Html.ValidationMessageFor(m => m.User.Login, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Password:</label>
                    @Html.PasswordFor(m => m.User.Password, new { @class = "required form-control" })
                    @Html.ValidationMessageFor(m => m.User.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Please enter your hint question:</label>

                    @Html.TextBoxFor(m => m.User.HintQuestion, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.User.HintQuestion, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Please enter your hint answer:</label>
                    @Html.PasswordFor(m => m.User.HintAnswer, new { @class = "required form-control" })
                    @Html.ValidationMessageFor(m => m.User.HintAnswer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

          <div class="text-right">

            <input type="submit" value="Save" class="btn btn-primary" id="SubmitMe" >
        </div>
    }
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
